DEV_ADMIN_SECRET=[REDACTED:secret-value]
GAME_MAP_SIZE=264
GAME_MAX_PLAYERS=10
GAME_SPEED=1
GAME_ZOMBIE_SPAWN_RATE=1
GAME_RESOURCE_DENSITY_WOOD=1
GAME_RESOURCE_DENSITY_FOOD=1
GAME_RESOURCE_DENSITY_ORE=1
